@{
    ViewData["Title"] = "Azure Container Registry - Geo Replication";
}
<img height="600" src="~/images/@ViewData["MAPIMAGE"]" />
<p>Registry URL: @ViewData["REGISTRYURL"]</p>
<p>Registry IP: @ViewData["REGISTRYIP"]</p>
<p>HostEntry: @ViewData["HOSTENTRY"]</p>
<p>Region: @ViewData["REGION"]</p>
<p>Map: @ViewData["MAPIMAGE"]</p>
<!--
<h3>Environment Variables:</h3>
@Html.Raw(ViewData["ENV_VARS"])
-->
